    <!-- Footer -->
<footer>
    <!-- Footer Elements -->
    <!-- Copyright -->
    <div class="blockquote-footer">
        © 2020 Copyright:
        <a href="https://www.linkedin.com/in/kyran-bryant/">Bryant inc</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->