@model DataAccess.Models.Users

@{
    ViewData["Title"] = "Create";
}

<br />
<br />
<div class="text-center">
    <img src="https://www.projectcounter.org/wp-content/uploads/2016/03/icon-register.png" alt="login-avi" width="125" height="125" />
</div>
<br />
<div class="row">
    <div class="main-login main-center">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label style="color: black" asp-for="FirstName" class="cols-sm-2 control-label"></label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group">
                            <i class="glyphicon glyphicon-user"
                               aria-hidden="true"></i>
                        </span>
                        <input asp-for="FirstName" class="form-control" required />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label style="color: black" asp-for="LastName" class="cols-sm-2 control-label"></label>
                <input asp-for="LastName" class="form-control" required />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label style="color: black" asp-for="Username" class="cols-sm-2 control-label"></label>
                <input asp-for="Username" class="form-control" required />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label style="color: black" asp-for="Email" class="cols-sm-2 control-label"></label>
                <input asp-for="Email" class="form-control" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label style="color: black" asp-for="Password" class="cols-sm-2 control-label"></label>
                <input asp-for="Password" class="form-control" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-dark">Register</button>
            </div>
            <br />
            <div>
                <a class="btn-link" asp-controller="Home" asp-action="Login">Already have an account?</a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    body {
        background-image: url("https://images.unsplash.com/photo-1557089041-7fa93ffc2e08?ixlib=rb-1.2.1&auto=format&fit=crop&w=1349&q=80");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>