@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4" style="color: white">Voices</h1>
        <br />
        <iframe width="900"
                height="500"
                src="https://www.youtube.com/embed/iIURXjVXzv0?&autoplay=1"
                frameborder="0"
                allow="accelerometer;
            autoplay;
            encrypted-media;
            gyroscope;
            picture-in-picture" allowfullscreen></iframe>
    </div>

    <style>
    body { background-image: url("https://images.unsplash.com/photo-1591103796863-ac38edff14b7?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"); 
           background-repeat: no-repeat; 
           background-position: center; 
           background-size: cover;

    }

    @Html.Partial("Styling")
    </style>
