@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4" style="color: white">Welcome to Voices</h1>
        <br />
        <iframe width="900"
                height="500"
                src="https://www.youtube.com/embed/iIURXjVXzv0?&autoplay=1"
                frameborder="0"
                allow="accelerometer;
            autoplay;
            encrypted-media;
            gyroscope;
            picture-in-picture" allowfullscreen></iframe>
    </div>
