@model VoicesWebUI.ViewModels.UsersViewModel

<br />
<br />

<div class="sidenav">
    <div class="login-main-text">
        <img src="https://www.st-ives.cornwall.sch.uk/wp-content/uploads/2016/06/User-Icon.ico" alt="login-avi" width="72" height="72" />
        <h1>Please Sign in...</h1>
    </div>
</div>
<body class="text-center">
    <div class="main-login main-center">
        <form class="form-signin" autocomplete="on">

            <label class="sr-only">Email Address</label>
            <input type="email" class="form-control" placeholder="example@email.com" required autofocus />
            <br />
            <label class="sr-only">Password</label>
            <input type="password" class="form-control" placeholder="Password" required autofocus />

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me">
                    Remember me
                </label>
            </div>
            <button type="submit" class="btn btn-dark btn-block">Login</button>
            <input value="Create Account" type="button" class="btn btn-dark btn-block" onclick="window.location='@Url.Action("Create", "Users")'" />
        </form>
    </div>
</body>

<style>
    body {
        background-image: url("https://i1.wp.com/publicseminar.org/wp-content/uploads/2018/02/15795509577_bd4cd3c5aa_k.jpg?fit=1024%2C707&ssl=1");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>